<div class='container text-center footer mt-5'>
    <div class='row'>
        <div class='col'>
            プライバシーポリシー プライバシーセンター 利用規約
            特定商取引法に基づく表示 LINE Digital Frontier株式会社
            LYPプレミアム利用ガイド よくある質問・お問い合わせ 採用情報
        </div>
    </div>
    <div class='row mt-5'>
        <div class='col'>
            ABJマークは、この電子書店・電子書籍配信サービスが、著作権者からコンテンツ使用許諾を得た正規版配信サービスであることを示す登録商標(登録番号
            第6091713号)です。
            詳しくは[ABJマーク]または[電子出版制作・流通協議会]で検索してください。
        </div>
    </div>

    <div class='row mt-5'>
        <div class='col'>
            ebookjapanはLINEヤフー株式会社のサービスであり、LINEヤフー株式会社がLINE
            Digital Frontier株式会社と協力して運営しています。
        </div>
    </div>
</div>